body {
  background-color: aliceblue;
}

h1 {
  text-align: center;
}

form , #result{
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

label {
  padding-left: 100px;
  margin: 10px auto;
}

.btn {
  width: 80%;
  display: block;
  margin: 10px auto;
}

#result {
  display: none;
}